@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Julius+Sans+One&display=swap");

@font-face {
  font-family: "myfont1";
  src: url("./fonts/MaskedHeroDemo-w1gY2.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(214, 241, 232);
  /* font-family: 'myfont2'; */
}

/* Styles for header */
#header {
  display: flex;
  padding: 1rem 5rem;
  justify-content: space-between;
  z-index: 2;
  position: fixed;
  align-items: center;
  top: 0;
  width: 100vw;
}
section {
  padding: 5rem 10rem;
}
#logo {
  font-family: 'myfont1';
  font-size: 24px;
  font-weight: 100;
  text-shadow: 2px 2px #0e7800;
}
#logo a {
  color: aliceblue;
  text-decoration: none;
}

#header ul {
  display: flex;
  width: 30%;
  justify-content: space-around;
  color: aliceblue;
}
#header li a {
  list-style: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: auto;
  color: aliceblue;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}
#header ul li a:hover {
  border-bottom: 4px solid brown;
  padding: 5px 10px;
  border-radius: 5px;
  border-radius: 5%;
  transform: scale(1.2);
}
ul li {
  list-style: none;
}
.nav-menu {
  align-items: center;
  transform: scale(1.75);
  margin: auto -3rem;
  display: none;
}

.close-nav{
  display: none;
}
.hero {
  height: 100vh;
  width: 100vw;
  margin-top: 0rem;
  padding: 20% 0 10%;
  position: relative;
  z-index: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(42, 47, 189, 0.345),
      rgba(0, 255, 4, 0.574)
    ),
    url("./asset/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}
.heroimg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  display: none;
}
.heroimg img {
  width: 100%;
  transform: scale();
  position: absolute;
  top: 10rem;
  margin-top: -45rem;
  z-index: 0;
  opacity: 0.09;
}
.hero--txt {
  color: white;
  margin: auto;
  height: 100%;
  text-align: center;
}
.hero--txt h1 {
  font-family: "Julius Sans One", sans-serif;
  /* font-family: 'myfont1'; */
  font-size: 6rem;
  font-style: normal;
  font-weight: 100;
  padding: 0;
}
.hero--txt p {
  font-size: 28px;
  width: max-content;
  margin: -1rem auto 0;
}

.hero--txt button {
  background-color: aliceblue;
  color: darkgreen;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.hero--txt button:hover {
  color: aliceblue;
  background-color: rgba(245, 245, 245, 0);
  border: 2px solid aliceblue;
}
#downloadcv {
  margin-right: 10px;
  color: aliceblue;
}
.socials-ctn {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  position: fixed;
  gap: 2rem;
  top: 60%;
  right: 3%;
  align-items: center;
  text-align: center;
}
.socials-ctn a {
  text-decoration: none;
  color: aliceblue;
  transition: ease-in-out 0.3s;
}
.socials-ctn a:hover {
  cursor: pointer;
  transform: scale(1.4);
}
.socials-ctn span {
  width: 0.5px;
  height: 7rem;
  border: 0.5px solid white;
}
/* ABOUT ME */
#about {
  position: relative;
  background-color: #ffffff;
  height: max-content;
  padding: 0 0 5rem 10rem;
  border-radius: 0% 50% 5px 0;
  font-weight: bold;
}
.about--me {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
  overflow: hidden;
}
.about-img {
  border-radius: 8px;
  box-shadow: 2px 3px 3px rgba(21, 48, 21, 0.738);
  margin-right: -2rem;
  background-color: #001503;
  width: 35%;
  height: 70vh;
}
.about-img img {
  width: 100%;
  height: 120%;
  margin-top: -6rem;
}
.about--txt {
  align-items: center;
  padding: 5% 1rem;
  width: 55%;
  height: 100%;
  color: #333;
}
.about--txt h1 {
  font-size: 4.5rem;
  font-weight: 900;
  text-align: start;
  color: #073201;
  margin-top: 2rem;
}
.about--txt p {
  font-size: 1.2rem;
  /* color: rgb(5, 108, 5); */
  margin-top: 10px;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
}
.about--txt button {
  padding: 0.75rem 1rem;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: darkgreen;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: ease-in 0.1s;
}
.about--txt button:hover {
  background-color: #0e780000;
  border: 2px solid darkgreen;
  color: #0e7800;
}
/* SKILLS */
.myskills {
  background-color: #001503;
}
.skills {
  /* margin: 5rem 0; */
}
.skills h1 {
  font-size: 4.5rem;
  padding: 0 0 2rem;
  color: aliceblue;
  text-transform: uppercase;
  text-align: center;
}
.skills-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  /* display: none; */
}
.skill--card {
  width: 15%;
  padding: 5rem 4rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 3px 2px 5px aliceblue;
  /* overflow: visible; */
  transition: ease-in-out 0.5s;
  text-decoration: none;
}

/* skills hover effect */
.skill--card:hover {
  box-shadow: 0px 2px 2px 2px rgb(179, 200, 179);
  transform: rotate(12deg);
}
.html {
  background-image: url(./asset/html2.jpeg);
}
.css {
  background-image: url(./asset/css.png);
}

.js {
  background-image: url(./asset/JavS.jpeg);
  background-size: cover;
}
.react {
  background-image: url(./asset/react-logo.png);
}
.tailwind {
  background-color: #eaf9e8;
  background-image: url(./asset/tailwindcss-logo.png);
}
.css,
.html,
.js,
.react,
.tailwind {
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.css:hover,
.react:hover {
  transform: rotate(-15deg);
}

/* PROJECT */
#projects {
  background-color: #fff;
}
#projects h1 {
  color: #073201;
  padding: 2rem 0 0rem;
  font-size: 4.5rem;
  font-weight: 900;
  text-align: center;
}
.pro-t-des {
  font-size: 24px;
  text-align: center;
  padding: 0rem 0 5rem;
}

.proj-ctn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 3s;
}

.proj-ctn a {
  text-decoration: none;
  cursor: pointer;
  color: #073201;
}

.card {
  /* margin-bottom: 2rem; */
  width: 100%;
  height: 60%;
  padding: 0;
  display: flex;
  gap: 5rem;
  margin-bottom: 5rem;
  flex-direction: row;
  padding: 0;
  justify-content: center;
  transition: ease-in-out 0.5s;
  border-radius: 10px;
}
.card2 {
  display: flex;
  flex-direction: row;
}

.card img {
  width: 48%;
  height: 45vh;
  border-radius: 1.2rem;
  box-shadow: 1px 2px 3px 2px rgba(0, 70, 0, 0.737);
}
.card-btn {
  margin-top: 1rem;
  justify-content: space-between;
  gap: 1rem;
}
.card-btn a {
  background-color: #021300;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 8px 12px;
  margin-right: 1rem;
}
.card-btn a:hover {
  background-color: rgb(0, 0, 0);
  text-decoration: underline;
}
.proj-desc {
  padding: 3rem 0;
  max-width: 40%;
  color: #073201;
  text-align: start;
  /* justify-content: center; */
  margin: 1rem 0;
  height: 8rem;
}
.proj-desc h3 {
  padding: 5px 0 0.75rem;
  font-size: 2.8rem;
  line-height: 1.5;
  width: 100%;
  /* margin-top: -2rem; */
}
.proj-desc h3:hover {
  text-decoration: underline;
}
.proj-desc h5 {
  padding: 4px 0;
  color: brown;
}

/* CONTACT */
#contact {
  background-color: #0e7800;
  background-image: linear-gradient(
      60deg,
      rgba(0, 30, 255, 0.735),
      darkgreen
    ),
    url("./asset/connectimg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
  position: relative;
}
#contact h1 {
  font-size: 4.5rem;
  font-weight: 900;
  color: #ffffff;
  transform: scaleX(-1);
  margin-top: 1.5rem;
  width: max-content;
  position: absolute;
  display: flex;
  margin-right: 10rem;
  right: 0;
}
#contact p {
  color: #fff;
  position: absolute;
  display: flex;
  margin-right: 10rem;
  margin-top: 9rem;
  right: 0;
  font-size: 20px;
  max-width: 40%;
  transform: scaleX(-1);
}
form {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 3rem 0;
  gap: 5px;
  height: max-content;
  transform: scaleX(-1);
}
form input {
  padding: 0.75rem;
  font-size: 18px;
  border: none;
  color: #fff;
  border-bottom: 1.5px solid #fff;
  background-color: rgba(255, 255, 255, 0.01);
}
form input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
}
form input::placeholder {
  color: rgba(255, 255, 255, 0.641);
}
textarea::placeholder {
  color: rgba(255, 255, 255, 0.641);
}
textarea:focus {
  outline: none;
}
form label {
  margin: 2rem 0 0px;
  color: #fff;
  display: flex;
  font-size: 20px;
  flex-direction: column;
}
#send-btn {
  background-color: #fff;
  padding: 15px 0;
  color: #073201;
  font-size: 18px;
  margin-top: 1rem;
  border-radius: 5px;
  font-weight: bold;
  transition: ease 0.3s;
}
#send-btn:hover {
  background-color: #073201;
  color: #fff;
  border: none;
  cursor: pointer;
}
textarea {
  padding: 0.75rem;
  margin-top: 10px;
  border-radius: 5px;
  color: #fff;
  border: 1.5px solid #fff;
  outline-color: #073201;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0);
}

/* FOOTER */
#footer {
  background-color: #021300;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  align-items: center;
  padding: 2rem 5rem;
}

.socials {
  width: 30%;
  /* display: none; */
  justify-content: space-around;
}

.footer-contact {
  gap: 15px;
}
.socials a {
  text-align: center;
  justify-content: center;
  align-items: center;
  transform: scale(1.25);
}
.credit a{
  color: #fff;
  cursor: pointer;
}
.footer-socials {
  display: none;
}
#copyright{
  padding: 5px;
  font-size: 1rem;
  text-align: center;
  background-color: #021300;
  color: #0e7800;
  border-top: 1.5px dashed #073201;
}

/* MEDIA QUERIES FOR MOBILE SCREENS */

@media screen and (max-width: 650px) {
  section {
    padding: 0;
  }
  #header {
    background-color: #001503;
  }
  #header ul {
    padding: 5rem 0;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: -100vh;
    right: 0;
    gap: 2rem;
    transition: ease-in-out 0.5s;
    background-color: #000100;
    /* display: none; */
  }
  #header ul.open {
    z-index: 5;
    display: flex;
    top: 0rem;
  }

  .close-navx {
    display: flex;
    transform: scale(1.2);
    right: 0;
    color: #fff;
    transform: scale(1.5);
    margin: auto;
    padding: 0;
    cursor: pointer;
    /* z-index: 5; */
  }

  ul li a {
    width: 100%;
  }

  ul li a:hover {
    background-color: #073201;
    padding: 0.5rem 0;
    border: none;
  }

  #logo {
    margin-left: -3rem;
  }

  .nav-menu {
    display: block;
  }

  .hbmenu {
    color: #ffffff;
    cursor: pointer;
  }

  .hbmenu.close {
    display: none;
  }

  .close-nav{

  }

  .hero-btn {
    display: flex;
    flex-direction: column;
  }

  .hero {
    height: 70vh;
  }

  .heroimg {
    width: 100%;
  }

  .hero--txt {
    padding: 7rem 3rem;
  }

  .hero--txt h1 {
    font-size: 60px;
  }

  .hero--txt p {
    font-size: 16px;
    margin-top: 0px;
  }

  #about {
    padding: 5rem 1rem;
    height: 100%;
    display: flex;
    transform: scaleY(-1);
  }
  .about-img {
    width: 80%;
    height: 45vh;
    border: none;
    border-radius: 8px;
    margin: 1rem 0;
  }
  .about-img span {
    background-color: #0e6603;
    border-radius: 0 8px 8px 0;
    width: 80%;
    height: 12%;
    padding: 0;
    border: 1px solid brown;
    position: fixed;
  }
  .about-img img {
    margin-top: -3rem;
    transform: rotate(180deg);
  }
  .about--me {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .about--txt {
    padding: 0;
    width: 100%;
    transform: rotate(180deg);
    transform: scaleX(1);
    transform: scaleY(-1);
  }
  .about--txt h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
  }
  .about--txt p {
    font-size: 1rem;
  }

  .socials-ctn {
    display: none;
  }

  .myskills {
    padding: 3rem 2rem;
  }
  .skills h1 {
    font-size:2rem;
  }
  .skills-ctn {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .skill--card {
    width: 4rem;
    padding: 2rem 1rem;
  }


  #projects {
    padding: 5rem 1rem;
  }
  #projects h1 {
    font-size: 3rem;
  }
  .proj-ctn {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .project {
    width: 100%;
  }
  .pro-t-des {
    font-size: 18px;
    padding-bottom: 2rem;
  }
  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
  .card2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .card img {
    width: 100%;
    height: 35vh;
    border-radius: 1rem;
  }
  .proj-desc {
    text-align: left;
    max-width: 100%;
    margin: 8px 0 0;
    padding: 0 10px;
  }
  .proj-desc p {
    font-size: 14px;
  }
  .proj-desc h3 {
    display: block;
    font-size: 1.2rem;
    width: 100%;
  }


  #contact {
    padding: 5rem 1rem;
  }
  #contact h1 {
    margin: 1rem;
    font-size: 2.8rem;
  }
  #contact p {
    padding: 0%;
    margin: 6rem 1rem 0rem 0rem;
    min-width: 90%;
    font-size: 14px;
  }

  form {
    width: 100%;
    margin-top: 10rem;
  }

  #footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer-logo {
    margin: auto -3rem;
    text-align: center;
    justify-content: center;
  }
  .footer-contact {
    gap: 10px;
  }
  .credit {
    font-style: italic;
    font-size: 10px;
    margin-top: 1rem;
  }
  .footer-socials {
    display: flex;
    margin: 1rem auto 0;

    gap: 15px;
  }
  .footer-socials a {
    text-decoration: none;
    color: #fff;
  }
}

/* MEDIA QUERIES FOR ipads */

@media (min-width:650px) and (max-width: 900px) {
section{
padding: 1rem;
}
.myskills{
  padding: 3rem 5rem;
}
.skills h1{
  font-size: 2rem;
}
.skill--card{
  width: 10%;
  padding: 3rem;
}
.proj-ctn{
}

#contact{
  padding: ;
}
#contact h1, #contact p{
  margin-right: 5rem;
}
form{
  padding: 7rem 0 3rem;
}

}



/* MEDIA QUERIES FOR SMALL LAPTOPS */

@media (min-width:900px) and (max-width: 1270px) {
section{
  padding: 3rem;
}

.myskills{
  padding: 3rem 5rem;
}
.skills h1{
  font-size: 2.5rem;
}
.skill--card{
  width: 10%;
  padding: 4rem;
}

.proj-ctn{
}
.card {
align-items: center;
gap: 3rem;

}
.card img{

}
.proj-desc{
  padding: 0;
  margin-top: -7rem;
}
.proj-desc h3{
  font-size: 3rem;

}

#contact{
  padding: ;
}
#contact h1, #contact p{
  margin-right: 5rem;
}
form{
  padding: 7rem 0 3rem;
}
}
